* {
  * {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
  }
}

body {
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 375px;
  background-color: hsl(0, 0%, 12%);
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.photo {
  width: 100px;
  border-radius: 50%;
}

p {
  font-size: 14px;
  color: hsl(0, 0%, 100%);
}

h2 {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 10px;
}

h1 {
  color: hsl(0, 0%, 100%);
}

button {
  padding: 10px;
  background-color: hsl(0, 0%, 20%);
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border-radius: 5px;
  border: none;
}

a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
  cursor: pointer;
}

a {
  padding: 10px;
  background-color: hsl(0, 0%, 20%);
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  text-decoration: none;
}
